{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Venues{% endblock %}
{% block content %}
<style>
	.allign {
        -webkit-appearance: none;
    	border: none;
        outline: none;
        color: red;
        float: right;
        cursor: pointer;
        font-size: 20px;
	}
</style>
<div>
	<form class="search" method="post" action="/venues/search/city_state">
		<input class="form-control"
		  type="search"
		  name="search_term"
		  placeholder="Find an artist by city and state"
		  aria-label="Search">
	  </form>
</div>
{% for area in areas %}
<h3>{{ area.city }}, {{ area.state }}</h3>
	<ul class="items">
		{% for venue in area.venues %}
		<li>
			<a href="/venues/{{ venue.id }}" style="display: inline-block;">
				<i class="fas fa-music" style="display: inline-block;"></i>
				<h5 style="display: inline-block;" >{{ venue.name }}</h5>
			</a>
			<a href="/venues/delete/{{ venue.id }}" class="allign" onclick="return confirm('Do you want to permanently delete {{ venue.name }}?');">
				<button type="button"class"="allign" style="color: red;" >&Cross;</button>
			</a>
		</li>
		{% endfor %}
	</ul>
{% endfor %}
<div>
	<a href="/venues/create"><button class="btn btn-primary btn-lg">Post a venue</button></a>
</div>
{% endblock %}